{% extends "pages/form_page.html" %}

{% block form_content %}
{% autoescape false %}
{{ 
(
  (
    form.name
      | wtff.string_field(placeholder="Hourly sync, etc"),
    form.workflow
      | wtff.dropdown_field
  ) | jacc(bs.col),
  (
    form.details
      | mde.md_field,
    form.description
      | wtff.textarea_field
  ) | jacc(bs.col, classes="mb-1")
) | jacc(bs.row)

~ hr()

~ (
  form.job_type
    | wtff.dropdown_field,
  form.enabled
    | wtff.toggle_field,
) | jacc(bs.col)
  | bs.row

~ ( 
  form.day_of_week
    | wtff.string_field(placeholder="mon,wed,fri"),
  form.hour
    | wtff.integer_field(placeholder="0-23"),
  form.minute
    | wtff.integer_field(placeholder="0-59"),
) | jacc(bs.col)
  | bs.row(id="cron-fields")

~ ( 
  form.hours
    | wtff.integer_field,
  form.minutes
    | wtff.integer_field,
  form.seconds
    | wtff.integer_field
) | jacc(bs.col)
  | bs.row(id="interval-fields") 

~ hr()

~ ( 
  (
    form.headers
      | cm.yaml_field
    ~ (
      "Defines internal variables to be used by Task templating. "
      "These variables are not provided to the environment file. "
      "Use them in your templates with {{variable}}. "
    ) | cd.note
  ),
  (
    form.environment
      | cm.env_field
    ~ (
      "Variables defined here will override "
      "Workflow and Task environments."
    ) | cd.note
  )
) | jacc(bs.col)
  | bs.row
}} 
{% endautoescape %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
  document.addEventListener("DOMContentLoaded", () => {

    const jobTypeSelect = document.querySelector('[name="job_type"]');
    const cronFields = document.getElementById("cron-fields");
    const intervalFields = document.getElementById("interval-fields");

    function toggleFields() {
      const type = jobTypeSelect.value;
      if (type === "cron") {
        cronFields.style.display = "flex";
        intervalFields.style.display = "none";
        enableInputs(cronFields);
        disableInputs(intervalFields);
      } else if (type === "interval") {
        cronFields.style.display = "none";
        intervalFields.style.display = "flex";
        enableInputs(intervalFields);
        disableInputs(cronFields);
      } else {
        cronFields.style.display = "none";
        intervalFields.style.display = "none";
        disableInputs(cronFields);
        disableInputs(intervalFields);
      }
    }

    function enableInputs(container) {
      container.querySelectorAll("input").forEach(el => el.disabled = false);
    }

    function disableInputs(container) {
      container.querySelectorAll("input").forEach(el => el.disabled = true);
    }

    jobTypeSelect.addEventListener("change", toggleFields);
    toggleFields();
  });
</script>
{% endblock %}