{% from "macros/docker.html" import 
  scheduler_edit_log_link_from_schedule_edit_log,
  schedule_trigger_log_table
  with context
%}

{% set obj = trigger %}
{% set back_url = url_for("docker.scheduler.index") %}
{% set back_text = "Back to Scheduled Triggers" %}
{% set page_title = trigger.name %}
{% set title = "View Scheduled Trigger" %}
{% set edit_button_text = "Edit Scheduled Trigger" %}
{% set edit_button_url = "docker.scheduler.edit" %}
{% set edit_button_args = {"trigger_id":trigger.id} %}

{% set log_url_callback = scheduler_edit_log_link_from_schedule_edit_log %}

{% extends "pages/editable_page.html" %}

{% block styles %}
{{ super() }}
<style>
  .schedule-info {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
  }
</style>
{% endblock %}


{% macro make_trigger_card(trigger) %}
  <h5 class="mb-2">
    <a href="{{url_for('docker.workflows.view', workflow_id=trigger.workflow.id)}}" class="text-decoration-none">
      {{ trigger.workflow.name }}
    </a>
    <span class="fs-5">
      @
      {% if trigger.job_type == 'cron' %}
      {% if trigger.day_of_week %}{{ trigger.day_of_week }}{% else %}daily{% endif %}
      {% if trigger.hour is not none and trigger.minute is not none %}
      at {{ "%02d"|format(trigger.hour) }}:{{ "%02d"|format(trigger.minute) }}
      {% elif trigger.hour is not none %}
      at {{ "%02d"|format(trigger.hour) }}:00
      {% elif trigger.minute is not none %}
      at *:{{ "%02d"|format(trigger.minute) }}
      {% endif %}
      {% elif trigger.job_type == 'interval' %}
      interval -
      {% if trigger.hours %}{{ "%02d"|format(trigger.hours) }}h{% endif %}{% if trigger.minutes %}{{
      "%02d"|format(trigger.minutes) }}m{% endif %}{% if trigger.seconds %}{{ "%02d"|format(trigger.seconds) }}s{%
      endif %}
      {% endif %}
    </span>
  </h5>
{% endmacro %}

{% macro make_enabled_badge(trigger) %}
  {% if trigger.enabled %}
  {{ "Enabled" | bs.badge(classes="bg-success") | safe }}
  {% else %}
  {{ "Disabled" | bs.badge(classes="bg-danger") | safe }}
  {% endif %}
{% endmacro %}


{% block view_content %}
{% autoescape false %}
{{
(
  (
    make_trigger_card(trigger)
      | div("flex-grow-1")
    ~ make_enabled_badge(trigger)
      | div("text-end")
  )
    | div("d-flex justify-content-between align-items-start")
    | div("schedule-info")
    | bs.card_body(classes="mb-0 pb-1 pt-2 px-0")
  ~(
    (
      "Jinja Variables"
        | b
        | bs.card_header("bg-dark text-white")
      ~ (
        (trigger.headers or "")
          | cm.yaml_viewer(id="headers")
        ~ (
          "Defines internal variables to be used by Task templating. "
          "These variables are not provided to the environment file. "
          "Use them in your templates with {{variable}}. "
        ) | div("text-secondary fst-italic px-2 mx-2 py-2 mx-2")
      ) | bs.card_body("px-0 py-0")
    ),
    (
      "Environment"
        | b
        | bs.card_header("bg-dark text-white")
      ~ (
        (trigger.environment or "")
          | cm.env_viewer(id="environment")
        ~ (
          "Environment variables defined here will "
          "be applied to all tasks run as part of the workflow. "
          "Variables defined here may override those defined "
          "within Workflows and Tasks."
        ) | div("text-secondary fst-italic px-2 mx-2 py-2 mx-2")
      ) | bs.card_body("px-0 py-0")
    )
  ) | acc(bs.card, classes="px-0")
    | jacc(bs.col_md_6, classes="col-sm-12 px-0")
    | bs.row
    | bs.card_body("mt-0 pt-1")

) | cd.section_card("config", "Configuration")

~ schedule_trigger_log_table(trigger)
  | cd.section_card("trigger-log", "Run Logs")
}}
{% endautoescape %}
{% endblock %}