{% extends "core.html" %}
{% if not edit_box is defined %}{% set edit_box=True %}{% endif %}
{% if not value_boxes is defined %}{% set value_boxes=[] %}{% endif %}

{% macro view_page_header(obj, edit_box=True, value_boxes=[]) %}
{% set actions=[] %}
{% if edit_box %}
{% set actions=[cd.table_button(
  edit_button_text,
  url_args=[
    edit_button_url,
    edit_button_args
  ],
  classes="bi bi-pencil",
  btn_type="primary",
  float="left")]
%}
{% endif %}
{% set value_box=cd.creator_editor_box(obj) %}
{{ cd.container_header(
  obj.name,
  action_buttons = actions,
  value_boxes = [value_box] + value_boxes,
  back=back_url,
  back_text=back_text
) | safe }}
{% endmacro %}


{% block content %}
{% autoescape false %}
{{
  cd.container_start()
  ~ view_page_header(obj, edit_box, value_boxes)
}}
<div class="card-body">
{% block page_content %}{% endblock %}
</div>
{{ cd.container_end() }}
{% endautoescape %}
{% endblock %}
