{% extends "pages/form_page.html" %}

{% block form_content %}
{% autoescape false %}
{{ 
(

  (
    form.name
      | wtff.string_field(placeholder="Name Cannot Be Blank"),
    form.workflow_id
      | wtff.dropdown_field
  ) | jacc(bs.col, classes="mb-0"),
  
  form.endpoint
    | wtff.string_field(placeholder="Trigger Endpoint (/docker/triggers/{endpoint})")
    | bs.col("mb-0"),

  (
    form.details 
      | mde.md_field,
    form.description
      | wtff.textarea_field
  ) | jacc(bs.col, classes="mb-0"),

  (
    form.headers
      | cm.yaml_field,
    form.environment
      | cm.env_field
  ) | jacc(bs.col, classes="mb-0")

) | jacc(bs.row, classes="mb-3 mt-0")
}}
{% endautoescape %}
{% endblock %}

