{% extends "pages/form_page.html" %}

{% block form_content %}
{% autoescape false %}
{{ 
(

  (
    form.name
      | wtff.string_field(placeholder="Name Cannot Be Blank"),
    form.workflow
      | wtff.dropdown_field
  ) | jacc(bs.col, classes="mb-0"),
  
  (
    form.endpoint
      | wtff.string_field(
        placeholder="Trigger Endpoint (/docker/triggers/{endpoint})"
      ),
    form.enabled
      | wtff.toggle_field
  ) | jacc(bs.col, classes="mb-0"),
  
  (
    form.details 
      | mde.md_field,
    form.description
      | wtff.textarea_field
  ) | jacc(bs.col, classes="mb-0"),

  (
    (
      form.headers
        | cm.yaml_field
      ~ (
        "Defines the translation from external proxy headers "
        "to internal variables to be used by Task templating. "
        "These variables are not provided to the environment file. "
        "Use them in your templates with {{variable}}. "
      ) | cd.note
    ),
    (
      form.environment
        | cm.env_field
      ~ (
        "Variables defined here will override "
        "Workflow and Task environments."
      ) | cd.note
    )
  ) | jacc(bs.col, classes="mb-0")

) | jacc(bs.row, classes="mb-3 mt-0")
}}
{% endautoescape %}
{% endblock %}

