{% from "macros/docker.html" import 
  trigger_log_table,
  trigger_edit_log_link
  with context
%}

{% set obj = trigger %}
{% set back_url = "docker.triggers.index" %}
{% set back_text = "Back to Triggers" %}
{% set page_title = trigger.name %}
{% set edit_button_text = "Edit Workflow Trigger" %}
{% set edit_button_url = "docker.triggers.edit" %}
{% set edit_button_args = {"trigger_id":trigger.id} %}

{% set log_url_callback = trigger_edit_log_link %}

{% extends "pages/editable_page.html" %}
{% block title %}View Workflow{% endblock %}

{% block view_content %}
{% autoescape false %}
{{
  (
    (
      "Proxy Headers Translation"
        | b
        | bs.card_header("bg-dark text-white")
      ~ (
        (trigger.headers or "")
          | cm.yaml_viewer(id="headers")
        ~ (
          "Defines the translation from external proxy headers "
          "to internal variables to be used by Task templating. "
          "These variables are not provided to the environment file. "
          "Use them in your templates with {{variable}}. "
        ) | div("text-secondary fst-italic px-2 mx-2 py-2 mx-2")
      ) | bs.card_body("px-0 py-0")
    ),
    (
      "Environment"
        | b
        | bs.card_header("bg-dark text-white")
      ~ (
        (trigger.environment or "")
          | cm.env_viewer(id="environment")
        ~ (
          "Environment variables defined here will "
          "be applied to all tasks run as part of the workflow. "
          "Variables defined here may override those defined "
          "within Workflows and Tasks."
        ) | div("text-secondary fst-italic px-2 mx-2 py-2 mx-2")
      ) | bs.card_body("px-0 py-0")
    )
  ) | acc(bs.card, classes="px-0")
    | jacc(bs.col_md_6, classes="col-sm-12 px-0 mb-2 pb-0")
    | bs.row("justify-content-around")
    | bs.card_body("mt-0 pt-1 pb-0")
    | cd.section_card("config", "Configuration")
  ~ trigger_log_table(trigger)
    | cd.section_card("logs", "Run Logs")
}}
{% endautoescape %}
{% endblock %}