<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{
    (
      "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css",
      "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css",
      "https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.1/b-3.0.0/b-html5-3.0.0/b-print-3.0.0/datatables.min.css",
      "https://cdn.datatables.net/fixedheader/3.2.0/css/fixedHeader.dataTables.min.css",
      "https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css",
      "https://cdn.jsdelivr.net/npm/codemirror@5.65.16/lib/codemirror.min.css",
      "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/monokai.min.css",
    ) | jacc(cd.stylesheet) | safe
    ~ (
      url_for('static', filename='css/main.css')
      | cd.stylesheet | safe
      ~ (
        (url_for('static',
          filename='css/bootswatch/bootswatch.'~selected_theme~'.min.css'
        ) | cd.stylesheet | safe)
        if (selected_theme and not selected_theme == "default") 
        else ""
      )
    ) | safe
  }}
  {% block styles %}{% endblock %}
</head>

{% macro nav_link_item(name, link, item_type) %}
{% 
  if not name.startswith("admin:")
  or current_user.is_admin
%}
{{
  item_type(
    name.replace("admin:", "", 1),
    "text-light", 
    href=url_for(link)
  ) | safe
}}
{% endif %}
{% endmacro %}

{% macro nav_link_dropdown_item(name_link) %}
{{ 
  nav_link_item(
    str(name_link[0]),
    str(name_link[1]),
    (bs.dropdown_item_a)
  ) | safe
}}
{% endmacro %}

{% macro nav_dropdown(name, links) %}
  {% 
    if not name.startswith("admin:")
    or current_user.is_admin
  %}
    {{
      (
        name.replace("admin:", "", 1)
        | bs.nav_link(
          "dropdown-toggle",
          href="#",
          id=name.replace(' ', '')~"Dropdown",
          role="button",
          data_bs_toggle="dropdown"
        ) | safe
        ~ links.items()
        | acc(nav_link_dropdown_item)
        | jcull
        | bs.dropdown_menu("bg-dark", aria_labelledby=name.replace(' ', '')~"Dropdown")
        | safe
      )
      | bs.nav_item("dropdown")
      | safe
    }}
  {% endif %}
{% endmacro %}

{% macro handle_nav_item(name_link) %}
{% if name_link[1] is mapping %}
  {{ nav_dropdown(str(name_link[0]), name_link[1]) }}
{% else %}
  {{ nav_link_item(str(name_link[0]), str(name_link[1]), bs.nav_link) }}
{% endif %}
{% endmacro %}

<body>
  {% if nav_enabled %}
  {{
    (
      (
        config['APPLICATION_NAME']
        | bs.navbar_brand(
          "nav-link font-monospace",
          href=url_for('dashboard')
        )
        ~ bs.navbar_toggler_icon()
        | bs.navbar_toggler(data_bs_target="#navbarSupportedContent")
      )
      ~ (
        config['NAV_LINKS'].items()
        | acc(handle_nav_item)
        | jcull
        | ul("navbar-nav")
        ~ (
          (
            (
              (nav_dropdown("Admin", config['ADMIN_NAV_LINKS']) 
              | ul("navbar-nav"))
              if current_user.is_admin 
              else ""
            )
            ~ (
              ("Theme: "~(selected_theme.capitalize() or ""))
              | bs.nav_link(
                "dropdown-toggle",
                id="themeDropdown",
                href="#",
                role="button",
                data_bs_toggle="dropdown"
              )
              ~ themes
              | acc(capitalize)
              | jacc(button,
                classes="dropdown-item text-light",
                type=submit,
                name="theme",
                value=theme
              ) | form(
                "theme-selector",
                id="themeForm",
                action=url_for('apply_theme'),
                method="post"
              ) | bs.dropdown_menu(
                "bg-dark",
                aria_labelledby="themeDropdown"
              )
            ) | bs.nav_item("dropdown")
          )
          ~ button(
            "",
            "btn table_button bi bi-search zoom-button text-light",
            type="button",
            id="zoomButton",
            onclick="toggleZoom()"
          )
        )
        | ul("navbar-nav ms-auto")
      )
      | bs.navbar_collapse(id="navbarSupportedContent")
    )
    | bs.container_fluid()
    | bs.navbar("navbar-expand-lg navbar-dark bg-dark m-0 hard-shadow")
    | safe
  }}
  {% endif %}

  {% macro flashed_message(category_message) %}
  {% set alert_class = 
    'alert ' ~
    ('alert-danger' if category_message[0] == 'error' else
     'alert-warning' if category_message[0] == 'warning' else
     'alert-success' if category_message[0] == 'success' else
     'alert-info')
  %}
  {{
    (
      category_message[1]~"&nbsp"
      | span("text-black text-small")
      ~ span()
      | button(
        "alert-close bi bi-x-circle-fill",
        type="button",
        onclick="deleteMessage(this)"
      )
    )
    | div("d-flex justify-content-between align-items-center")
    | div(alert_class, role="alert", style="max-width: 500px;")
    | safe
  }}
  {% endmacro %}

  {{
    get_flashed_messages(with_categories=True)
    | jacc(flashed_message)
    | div("alert-container")
    | safe
  }}

  <main class="card-body mt-0" >
    {% block content %}{% endblock %}
  </main>

  {% if nav_enabled %}
  {{
    (
      (
        (
          (
            bs.modal_title("", "flex-grow-1", id="iframeModalLabel")
            ~ (
              "Fill Window"
              | bs.btn_sm("btn-outline-primary")
              ~ bs.btn_close(
                "btn-close-white",
                style="float: right;",
                type="button",
                data_bs_dismiss="modal",
                aria_label="Close"
              )
            )
            | div("d-flex gap-2")
          )
          | div(
            "modal-header d-flex align-items-center bg-dark text-light"
          )
        )
        ~ iframe(
          "",
          id="iframeViewer",
          class="w-100 h-100 border-0",
          allowfullscreen=True
        )
        | div(
          "modal-body p-0",
          style="height: 85vh; min-height: 85vh;"
        )
      )
      | bs.modal_content("bg-transparent", id="modal-content")
      | div("modal-dialog modal-xl bg-transparent")
      | div(
        "modal fade",
        id="iframeModal",
        tabindex="-1",
        aria_labelledby="iframeModalLabel",
        aria_hidden="true"
      ) | div(
        "terminal_div d-flex flex-column",
        id="modalWrapper"
      )
      ~ (
        config["APPLICATION_NAME"]
        | a(href=url_for('about'))
        ~ br()
        ~ config['FOOTER_TEXT']
      )
      | p 
      | bs.container 
      | footer("navbar-dark bg-dark text-light text-center py")
    )
    | safe
  }}
  {% endif %}

  {{
    (
      "https://code.jquery.com/jquery-3.6.4.slim.min.js",
      "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js",
      "https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.1/b-3.0.0/b-html5-3.0.0/b-print-3.0.0/datatables.min.js",
      "https://cdn.datatables.net/fixedheader/3.2.0/js/dataTables.fixedHeader.min.js",
      "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js",
      "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js",
      "https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js",
      "https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js",
      "https://cdn.jsdelivr.net/npm/ansi_up@5.1.0/ansi_up.min.js"
    ) | jacc(cd.script) | safe
  }}

  {% if nav_enabled %}
  <script>
    const fillButton = document.getElementById('fillButton');
    const modal = document.getElementById('modal-content');
    const exitButton = document.getElementById('exitButton');
    const modalWrapper = document.getElementById('modalWrapper');
  
    function handleEscape(event) {
      if (event.key === 'Escape') {
        modalWrapper.classList.remove('modal-expanded');
        modal.classList.remove('expanded-modal-content');
        fillButton.textContent = 'Fill Window';
        document.removeEventListener('keydown', handleEscape);
      }
    }
  
    fillButton.addEventListener('click', () => {
      const isExpanded = modalWrapper.classList.toggle('modal-expanded');
      modal.classList.toggle('expanded-modal-content');
      fillButton.textContent = isExpanded ? 'Exit Fill' : 'Fill Window';
  
      if (isExpanded) {
        document.addEventListener('keydown', handleEscape);
      } else {
        document.removeEventListener('keydown', handleEscape);
      }
    });
    exitButton.addEventListener('click', () => {
      modalWrapper.classList.remove('modal-expanded');
      modal.classList.remove('expanded-modal-content');
      fillButton.textContent = 'Fill Window';
      document.removeEventListener('keydown', handleEscape);
    });
  </script>
  {% endif %}
  
  {% block scripts %}{% endblock %}
  {{ url_for('static', filename='js/main.js') | cd.script | safe }}
  {% from "macros/sections.html" import make_base_table_script %}
  {{ make_base_table_script() | script |safe }}
</body>

</html>