{% extends "pages/form_page.html" %}
{% block form_content %}
{% autoescape false %}

{{
(
  (
    form.name
      | wtff.string_field(placeholder="Name Cannot Be Blank"),
    form.description
      | wtff.string_field(placeholder="Short description...")
  ) | jacc(bs.col),
  (
    form.details
      | mde.md_field,
    form.environment
      | cm.env_field
    ~ (
      "Variables defined here may be overridden "
      "by Workflow / Trigger / Scheduler / Listener "
      "environments."
    )
      | cd.note,
  ) | jacc(bs.col, classes="mb-0 mt-2"),
  (
    form.template
      | cm.yaml_field
    ~ (
      "Header translations defined in Triggers "
      "/ Schedules / Listeners may be used as "
      "template variables here."
    ) | cd.note
  ) | bs.col("mt-3")
) | jacc(bs.row, classes="mb-0")
}}

{% endautoescape %}
{% endblock %}

