{% from "macros/docker.html" import
  task_log_table,
  task_scheduled_log_table,
  task_edit_log_link,
  task_workflow_association_table
  with context
%}

{% set obj = task %}
{% set back_url =  url_for("docker.tasks.index") %}
{% set back_text = "Back to Workflow Tasks" %}
{% set page_title = task.name %}
{% set edit_button_text = "Edit Workflow Task" %}
{% set edit_button_url = "docker.tasks.edit" %}
{% set edit_button_args = {"task_id":task.id} %}

{% set log_url_callback = task_edit_log_link %}

{% extends "pages/editable_page.html" %}
{% block title %}View Workflow Task{% endblock %}

{% block view_content %}
{% autoescape false %}


{% macro make_script_card(script) %}
  <h5 class="mb-2">
    Script: 
    <a href="{{url_for('docker.scripts.view', script_id=script.id)}}" class="text-decoration-none">
      [{{ script.id }}] {{ script.name }}
    </a>
    <span class="fs-5">
      @ {{ script.language.title() }}
    </span>
  </h5>
{% endmacro %}

{% macro make_task_card(task) %}
  <h5 class="mb-2">
    <span class="fs-5">
      Docker
    </span>
  </h5>
{% endmacro %}

{% macro make_enabled_badge(script) %}
  {% if script.network_enabled %}
  {{ "Network Enabled" | bs.badge(classes="bg-success") | safe }}
  {% else %}
  {{ "Network Disabled" | bs.badge(classes="bg-warning") | safe }}
  {% endif %}
{% endmacro %}

{{
  
  (

    (
      (
        make_script_card(task.script)
        ~ make_enabled_badge(task.script)
          | div("text-end")
      )
      if task.use_script
      else make_task_card(task)
    ) | div("d-flex justify-content-between align-items-start")
      | div("card-info")
      | bs.card_body("pb-1 pt-0 px-0")
      | bs.col_12("px-0")
      | bs.row

    ~(

      (
        ("Script" if task.use_script else "Template")
          | b
          | bs.card_header("bg-dark text-white")
        ~(
          (
            (
              (task.script.script or "")
                | cm.python_viewer(id="script", theme=selected_editor_theme)
            ) if task.use_script
            else (
              (task.template or "")
                | cm.yaml_viewer(id="template", theme=selected_editor_theme)
            )
          )
          
          ~(
              "Script to containerize. Task scripts cannot be templated (yet)."
              if task.use_script
              else (
                "Docker Compose template. Variables from Triggers "
                " / Schedulers / Listeners may be used in the template "
                "with {{trigger_variable}}, environment variables "
                "can be used with ${env_variable}. "
              )
          ) | div("text-secondary fst-italic px-2 mx-2 py-2 mx-2")
        ) | bs.card_body("px-0 py-0")
      ),

      (
        "Environment"
          | b
          | bs.card_header("bg-dark text-white")
        ~(
          (task.environment or "")
            | cm.env_viewer(id="environment", theme=selected_editor_theme)
          ~(
            "Environment variables defined here will "
            "be applied to to the Task. "
            "Variables defined here may be overridden by variables "
            "set in Triggers, Schedules, or Listeners."
          ) | div("text-secondary fst-italic px-2 mx-2 py-2 mx-2")
        ) | bs.card_body("px-0 py-0")
      )

    ) | acc(bs.card, classes="pt-0")
      | jacc(bs.col_md_6, classes="col-sm-12 px-0 mb-2 pb-0 mt-2")
      | bs.row("justify-content-around")
    
  ) | bs.card_body("mt-0 pt-1 pb-0")
    | cd.section_card("task-configuration", "Configuration", classes="mt-0 py-0 pb-0")
  
  ~ task_workflow_association_table(task)
    | cd.section_card("task-workflows", "Associated Workflows")

  ~ task_log_table(task)
    | cd.section_card("logs", "Run Logs")
  
  ~ task_scheduled_log_table(task)
    | cd.section_card("scheduled-logs", "Scheduled Run Logs")
}}

{% endautoescape %}
{% endblock %}