{% from "macros/docker.html" import
  task_log_table,
  task_scheduled_log_table,
  task_edit_log_link,
  task_workflow_association_table
  with context
%}

{% set obj = task %}
{% set back_url =  url_for("docker.tasks.index") %}
{% set back_text = "Back to Workflow Tasks" %}
{% set page_title = task.name %}
{% set edit_button_text = "Edit Workflow Task" %}
{% set edit_button_url = "docker.tasks.edit" %}
{% set edit_button_args = {"task_id":task.id} %}

{% set log_url_callback = task_edit_log_link %}

{% extends "pages/editable_page.html" %}
{% block title %}View Workflow Task{% endblock %}

{% block view_content %}
{% autoescape false %}

{{
  (
    (
      "Template"
        | b
        | bs.card_header("bg-dark text-white")
      ~ (
        (task.template or "")
          | cm.yaml_viewer(id="template")
        ~ (
          "Docker Compose template. Variables from Triggers "
          " / Schedulers / Listeners may be used in the template "
          "with {{trigger_variable}}, environment variables "
          "can be used with ${env_variable}. "
        ) | div("text-secondary fst-italic px-2 mx-2 py-2 mx-2")
      ) | bs.card_body("px-0 py-0")
    ),
    (
      "Environment"
        | b
        | bs.card_header("bg-dark text-white")
      ~ (
        (task.environment or "")
          | cm.env_viewer(id="environment")
        ~ (
          "Environment variables defined here will "
          "be applied to to the Task. "
          "Variables defined here may be overridden by variables "
          "set in Triggers, Schedules, or Listeners."
        ) | div("text-secondary fst-italic px-2 mx-2 py-2 mx-2")
      ) | bs.card_body("px-0 py-0")
    )
  ) | acc(bs.card, classes="px-0")
    | jacc(bs.col_md_6, classes="col-sm-12 px-0 mb-2 pb-0")
    | bs.row("justify-content-around")
    | bs.card_body("mt-0 pt-1 pb-0")
    | cd.section_card("task-configuration", "Configuration Files")
  
  ~ task_workflow_association_table(task)
    | cd.section_card("task-workflows", "Associated Workflows")

  ~ task_log_table(task)
    | cd.section_card("logs", "Run Logs")
  
  ~ task_scheduled_log_table(task)
    | cd.section_card("scheduled-logs", "Scheduled Run Logs")
}}

{% endautoescape %}
{% endblock %}