{{
  (
    ((value_boxes | join) if value_boxes else "")
      ~(
        (header_elements | join )
        if header_elements
        else ""
      )
      | div(style="float: right;")
    ~((back_text | cd.back_link(back)) if back else "")
    ~ cd.header_title(title)
    ~ (action_buttons if action_buttons else [])
      | join
      | div("bs-card-title-body", style="min-height: 0px;")
  ) | bs.card_header("bg-dark text-white")
    | safe
}}
