{{ 
  cd.header_value_box({
  "Creator" : obj.creator.name,
  "Created At" : obj.created_at_pretty,
  "Last Editor": obj.last_editor.name if obj.last_editor else 'None',
  "Last Edited At": obj.edited_at_pretty if obj.edited_at else "Never"
  }) | safe 
}}