{% if card %}
<div class="col-lg-6">
<div class="card h-100">
    <div class="card-header fw-semibold bg-dark text-white">{{title}}</div>
    <div class="card-body p-0">
{% endif %}
    <textarea id="{{id}}" name="{{id}}" {% if readonly %}readonly{% endif %}>{{content or ""}}</textarea>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
        const textarea_{{id}} = document.getElementById("{{id}}");
        let form = textarea_{{id}}.form;
        const editor_{{id}} = CodeMirror.fromTextArea(textarea_{{id}}, {
            mode: "{{mode}}",
            {% if theme %}
            theme: "{{theme}}",
            {% endif %}
            lineNumbers: true,
            {% if readonly %}
            readOnly: true,
            lineWrapping: true,
            {% else %}
            lineWrapping: false,
            {% endif %}
            viewportMargin: Infinity,
        });
        {% if not readonly %}
            form.addEventListener("submit", () => {
            textarea_{{id}}.value = editor_{{id}}.getValue();
            console.log(textarea_{{id}}.value);
            }); 
        {% endif %}    
        });
    </script>
{% if card %}
    </div>
</div>
</div>
{% endif %}